@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes onAutoFillStart {
  from {
  }
  to {
  }
}

/* Aplicamos la animación cuando el navegador detecta autofill */
input:-webkit-autofill {
  animation-name: onAutoFillStart;
  animation-fill-mode: both;
}
